@import "../../css-config/mixins.scss";
.home-main {
  color: #ffffff;
  background: #636b72;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  @include md {
    flex-direction: row;
    justify-content: space-between;
  }
  .first {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include md {
      width: 60%;
      order: 1;
    }
    h1 {
      color: #2196f3;
      @include md {
        font-size: 100px;
      }
    }
    h3 {
      span {
        color: #00cc00;
      }
    }
  }
  .second {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include md {
      width: 40%;
      order: 2;
    }
    img {
      border-radius: 50%;
    }
  }
}
