@import "../../css-config/mixins.scss";
.contact-main {
  color: #ffffff;
  background: #636b72;
  padding: 10px 55px;
  @include md {
    padding: 10px 30px;
  }
  .items {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      gap: 50px;
    }
    .social-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
