@import "../../css-config/mixins.scss";
.header-main {
  color: #ffffff;
  background: #4f5357;
  .toogle-icon {
    font-size: 40px;
    display: flex;
    align-items: flex-end;
  }
  @include md {
    .toogle-icon {
      display: none;
    }
  }
  .items-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include md {
      display: flex;
      flex-direction: row;
      gap: 60px;
    }
    .items {
      font-weight: 700;
      font-size: 24px;
      cursor: pointer;
      @include md {
        font-size: 40px;
      }
    }
    .d-none {
      display: none;
    }
  }
}
